{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Mon profil{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}

        <div class="profile-container">
            <div style="min-height: 50%" class="profile-form">
                {% for flash in app.flashes('success') %}
                    <div class="alert alert-success">{{ flash }}</div>
                {% endfor %}
                {% for flash in app.flashes('error') %}
                    <div class="alert alert-danger">{{ flash }}</div>
                {% endfor %}
                <br>
                <div class="container bootstrap snippet">
                    <div class="row">
                        <div class="col-sm-3" style="margin-left: -150px;">

                            <div class="left-info">
                                <h2>{{ app.user.firstName }} <br>{{ app.user.lastName }}</h2>
                                <p>{{ app.user.email }}</p>
                                <p>{{ app.user.telephone }}</p>
                            </div>
                            {% for calendar in rdv %}
                                {% if calendar.idUser.id == app.user.id %}
                                <div style="margin-top: 20px">
                                    <h3 style="color: #aec676">Prochain rendez-vous prevu: </h3>
                                    <p>Type : {{ calendar.type }}</p>
                                    <br>
                                    <p>{{ calendar.title }}</p>
                                    <br>
                                    <p>{{ calendar.start|date("m/d/Y") }}</p>
                                </div>
                                {% endif %}
                            {% endfor %}

                                {% for contact in contact %}
                                    {% if contact.idPro.id == app.user.id %}
                                    <div style="margin-top: 20px">
                                        <h3 style="color: #aec676">Prochain rendez-vous prevu: </h3>
                                        <p>Sujet : {{ contact.sujet }}</p>
                                        <br>
                                        <p>Avec : {{ contact.idUser.firstName }} {{ contact.idUser.lastName }}</p>
                                        <br>
                                        <p>Cheval :  ... </p>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                        </div>

                        <!-- MENU -->

                        <div class="col-sm-9">
                            <ul class="nav nav-tabs">
                                <li class="active" ><a data-toggle="tab" href="#cheval">Mes chevaux</a></li>
                                <li><a data-toggle="tab" href="#contact">Contacts</a></li>
                                <li><a data-toggle="tab" href="#messages">Facturations</a></li>
                                <li><a data-toggle="tab" href="#settings">Parametres</a></li>

                            </ul>

                            <!-- MENU 1 -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="cheval">
                                    <div class="background">
                                        <div style="width: 900px;display: grid;grid-template-columns: 1fr 2fr 4fr 6fr;grid-row-gap: 15px;grid-column-gap: 15px;">
                                            {% for cheval in chevals %}
                                                <div class="panel panel-heading" style="color: black; width: 230px; background-color: #EEE6D8; margin-top: 30px">
                                                    <li>Cheval : {{ cheval.nom }}</li>
                                                    <li>Box : {{ cheval.box }}</li>
                                                </div>

                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                                <!-- MENU 2 -->

                                    <div class="tab-pane" id="contact">
                                        <div class="background">
                                            <div style="width: 900px;display: grid;grid-template-columns: 1fr 2fr 4fr 6fr;grid-row-gap: 15px;grid-column-gap: 15px;">
                                                {% for contact in contacts %}
                                                        <div style="margin-top: 20px">
                                                            <h3 style="color: #aec676; white-space: nowrap">Prochain contact avec un professionnel prevu: </h3>
                                                            <p>Sujet : {{ contact.sujet }}</p>
                                                            <br>
                                                            <p>Avec : {{ contact.idPro.firstName }} {{ contact.idPro.lastName }}</p>
                                                            <br>
                                                            <p>Cheval :  ... </p>
                                                        </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>

                                <!-- MENU 3 -->

                                <div  class="tab-pane" id="messages">
                                    <br>
                                    <div style="width: 900px;display: grid;grid-template-columns: 1fr 2fr 4fr 6fr;grid-row-gap: 15px;grid-column-gap: 15px;">
                                        {% for facture in factures %}
                                                    <a class="panel panel-heading" style="color: black; width: 230px; background-color: #EEE6D8" href="{{ path('app_facture', {'id' : facture.id}) }}"  target="_blank">
                                                        Facturation du {{ facture.titre }}
                                                    </a>

                                        {% endfor %}
                                    </div>
                                </div>


                                <!-- MENU 4 -->

                                <div class="tab-pane" id="settings">


                                    <hr>
                                    {{ form_start(form) }}
                                        {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                        <br>
                                        {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                        <br>
                                        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                                        <br>
                                        {{ form_row(form.Telephone, {'attr': {'class': 'form-control'}}) }}
                                        <br>
                                        {{ form_row(form.Adresse, {'attr': {'class': 'form-control'}}) }}
                                        <br>
                                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                                    {{ form_end(form) }}

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}
