{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Mon profil{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}



        <div class="profile-container">
            <div class="profile-form">
                <br>
                <div class="container bootstrap snippet">
                    <div class="row">
                        <div class="col-sm-3" style="margin-left: -150px;">

                            <div class="panel panel-default">
                                <div style="color: #aec676 ; font-size: 2em; background-color: #EEE6D8" class="panel-heading">Informations <i class="fa fa-link fa-1x"></i></div>
                                <li class="list-group-item">{{ app.user.firstName }}</li>
                                <li class="list-group-item ">{{ app.user.lastName }}</li>
                                <li class="list-group-item ">{{ app.user.email }}</li>
                            </div>



                        </div>

                        <!-- MENU -->

                        <div class="col-sm-9">
                            <ul class="nav nav-tabs">
                                <li class="active" ><a data-toggle="tab" href="#cheval">Mes chevaux</a></li>
                                <li><a data-toggle="tab" href="#messages">Facturations</a></li>
                                <li><a data-toggle="tab" href="#settings">Parametres</a></li>

                            </ul>

                            <!-- MENU 1 -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="cheval">
                                    <div class="background">

                                    </div>

                                </div>

                                <!-- MENU 2 -->

                                <div  class="tab-pane" id="messages">
                                    <br>
                                    <div style="width: 900px;display: grid;grid-template-columns: 1fr 2fr 4fr 6fr;grid-row-gap: 15px;grid-column-gap: 15px;">
                                        {% for facture in factures %}
                                                    <a class="panel panel-heading" style="color: black; width: 230px; background-color: #EEE6D8" href="{{ path('app_facture', {'id' : facture.id}) }}"  target="_blank">
                                                        Facturation du {{ facture.titre }}
                                                    </a>

                                        {% endfor %}
                                    </div>
                                </div>


                                <!-- MENU 3 -->

                                <div class="tab-pane" id="settings">


                                    <hr>
                                    <form class="form" action="##" method="post" id="registrationForm">
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="first_name"><h4>Prenom</h4></label>
                                                <input class="form-control" name="first_name" id="first_name" placeholder="{{ app.user.firstName }}" title="enter your first name if any.">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="last_name"><h4>Nom de famille</h4></label>
                                                <input  class="form-control" name="last_name" id="last_name" placeholder="{{ app.user.lastName }}" title="enter your last name if any.">
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="phone"><h4>Telephone</h4></label>
                                                <input class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="location"><h4>Adresse</h4></label>
                                                <input  class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="email"><h4>Email</h4></label>
                                                <input type="email" class="form-control" name="email" id="email2" placeholder="{{ app.user.email }}" title="enter your email.">
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="password"><h4>Mot de passe</h4></label>
                                                <input type="password" class="form-control" name="password" id="password" title="enter your password.">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12 save">
                                                <br>
                                                <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Sauvegarder</button>

                                            </div>
                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}
