{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}

    <div class="profile-container">

        <div class="edit-form">

                <ul>
                    <li style="margin-left: -400px"><a href="/rdv">Retour</a></li>
                    <h1 style="color: white; margin-left: 300px">Calendar index</h1>
                </ul>


        <table class="table" style="color: white">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for calendar in calendars|reverse %}
                <tr>

                    <td>{{ calendar.title }}</td>
                    <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
                    <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 20ch;">{{ calendar.description }}</td>

                    <td>
                        <a href="{{ path('app_calendar_show', {'id': calendar.id}) }}">show</a>
                        <a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
