{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
<div class="profile-container">

    <div class="edit-form">
    <h1 style="color: white">Calendar</h1>

    <table class="table" style="color: white">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calendar.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ calendar.title }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ calendar.description }}</td>
            </tr>
        </tbody>
    </table>

        <div style="display: flex;align-items: center;">
            <ul>
            <li style="margin-right: 10px">
            <a style="background-color: #efefef; border-radius: 5px; color: #120e01;font-weight: 400;" class="nav-link white" href="{{ path('app_calendar_index') }}">Retour a l'index</a>
            </li>
            <li style="margin-right: 10px">
            <a style="background-color: #efefef; border-radius: 5px; color: #120e01;font-weight: 400;" class="nav-link white" href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">Modifier</a>
            </li>
            </ul>
            {{ include('calendar/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
