{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Je suis Admin{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
    <h1>Je suis Admin</h1>

    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    <br>
    {{ form_row(form.imageFilename) }}
    <br>
    <button type="submit" class="btn btn-primary">Upload!</button>
    {{ form_end(form) }}

{#    <form method="POST" action="{{ path('upload_test') }}" enctype="multipart/form-data">#}
{#        <input type="file" name="image">#}

{#        <button type="submit" class="btn btn-primary">Upload!</button>#}
{#    </form>#}


    <h1><a href="{{ path('app_home') }}">Retour !</a></h1>
    <p>Un paragraphe contenant pleins de mots à lire</p>

{% endblock %}