{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Admin{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}

        <div class="profile-container">
            {% for flash in app.flashes('success') %}
                <div class="alert alert-success">{{ flash }}</div>
            {% endfor %}
            {% for flash in app.flashes('error') %}
                <div class="alert alert-danger">{{ flash }}</div>
            {% endfor %}
            <div style="min-height: 60%" class="profile-form">
                <div class="col-sm-9">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#linkcheval">Les Chevaux</a></li>
                        <li><a data-toggle="tab" href="#messages">Facturations</a></li>
                        <li><a data-toggle="tab" href="#settings">Espace Client</a></li>

                    </ul>

                    <!-- MENU 1 -->

                    <div id="AddHorseModal" class="modal fade">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog vertical-align-center">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h1>Ajouter un Cheval a la liste</h1>
                                    </div>
                                    <div id="modalBody" class="modal-body">
                                        <div style="margin-right: 150px">
                                            {{ form_start(form3) }}
                                            {{ form_row(form3.nom) }}
                                            {{ form_row(form3.box) }}
                                            <button style="background-color: darkseagreen; border-color: #aec676" type="submit" class="btn">Ajouter ✅</button>
                                            {{ form_end(form3) }}
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="EditHorseModal" class="modal fade">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog vertical-align-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1>Modifier un Cheval de la liste</h1>
                                    </div>
                                    <div style="margin-bottom: 20px" id="modalBody" class="modal-body">

                                            {{ form_start(form5) }}
                                            {{ form_row(form5.id, {'attr': {'class': 'form-control'}})  }}
                                            <br>
                                            {{ form_row(form5.nom) }}
                                            {{ form_row(form5.box) }}
                                            <button style="background-color: coral; border-color: #aec676" type="submit" class="btn">Modifier ✅</button>
                                            {{ form_end(form5) }}

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="LinkHorseModal" class="modal fade">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog vertical-align-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1>Lier un Cheval a un client</h1>
                                    </div>
                                    <div style="margin-bottom: 20px" id="modalBody" class="modal-body">
                                        <br>
                                            {{ form_start(form4) }}
                                            {{ form_row(form4.nom, {'attr': {'class': 'form-control'}})  }}
                                            {{ form_row(form4.id, {'attr': {'class': 'form-control'}})  }}
                                            <br>
                                            <button style="background-color: darkseagreen; border-color: #aec676" type="submit" class="btn">Register</button>
                                            {{ form_end(form4) }}

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div style="display: flex;justify-content: center;flex-wrap: wrap;" class="tab-content">


                        <div  class="tab-pane active" id="linkcheval">
                            <div style="margin-bottom: 20px">
                                <ul>
                                    <a style="padding: 8px; margin-right:15px; background-color: #efefef; border-radius: 5px; color: #120e01;font-weight: 400;" data-toggle="modal" data-target="#AddHorseModal" class="nav-link white" href="#">Ajouter un Cheval</a>

                                    <a style="padding: 8px; background-color: #efefef; border-radius: 5px; color: #120e01;font-weight: 400;" data-toggle="modal" data-target="#LinkHorseModal" class="nav-link white" href="#">Lier un Cheval a un client</a>
                                </ul>
                            </div>
                            <div class="container">
                                <div class="row">

                                    <table class="tg" style="table-layout: fixed; width: 1027px; margin-bottom: 30px">
                                        <colgroup>
                                            <col style="width: 139px">
                                            <col style="width: 426px">
                                            <col style="width: 163px">
                                            <col style="width: 299px">
                                            <col style="width: 250px">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th class="tg-31jn">Id</th>
                                            <th class="tg-31jn">Nom du cheval</th>
                                            <th class="tg-31jn">Box</th>
                                            <th class="tg-31jn">Clients</th>
                                            <th class="tg-31jn">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cheval in chevaux %}
                                            <tr>
                                                <td class="tg-u7af">{{ cheval.id }}</td>
                                                <td class="tg-u7af">{{ cheval.nom }}</td>
                                                <td class="tg-u7af">{{ cheval.box }}</td>
                                                <td class="tg-u7af">{% if cheval.idUser != null %} {{ cheval.idUser.firstName }} {% endif %} </td>
                                                <td class="tg-u7af">
                                                     <a style="background-color: #efefef; border-radius: 5px; color: #120e01;font-weight: 400;" data-toggle="modal" data-target="#EditHorseModal" class="nav-link white" href="#">Modifier un Cheval</a>
                                                     <a style="background-color: #efefef; border-radius: 5px; color: #120e01;font-weight: 400;"  class="nav-link white" href="{{ path("app_delete", {'id' : cheval.id }) }}">Supprimer le Cheval</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <!-- MENU 2 -->
                        <!-- MENU 3 -->

                        <div class="tab-pane" id="messages">
                            <div class="container">
                                <div class="row">
                                    <div class="bg-light mt-4 p-4">

                                        <h1 style="color: white">Ajouter une Facturation</h1>

                                {{ form_start(form) }}
                                        <div style="width: 30%">
                                {{ form_row(form.id, {'attr': {'class': 'form-control'}})  }}
                                        </div>
                                <br>
                                {{ form_row(form.imageFilename) }}
                                <br>
                                <button type="submit" class="btn btn-primary">Upload!</button>
                                {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MENU 4 -->

                        <div class="tab-pane" id="settings">
                            <div class="container">
                                <div class="row">
                                    <div class="bg-light p-4">
                                        <div style="display: flex; margin-top: 20px; margin-bottom: 30px">
                                            <div style="margin-right: 150px">
                                                <h1 style="color: white;">Enregistrer</h1>

                                                {{ form_start(form2) }}
                                                {{ form_row(form2.firstName) }}
                                                {{ form_row(form2.lastName) }}
                                                {{ form_row(form2.email) }}
                                                <button type="submit" class="btn">Valider</button>
                                                {{ form_end(form2) }}
                                            </div>
                                            <div>
                                                <h1 style="color: white">Supprimer</h1>
                                                {{ form_start(form6) }}
                                                {{ form_row(form6.id, {'attr': {'class': 'form-control'}})  }}
                                                <br>
                                                <button style="background: #B0413E" type="submit" class="btn">Supprimer</button>
                                                {{ form_end(form6) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--/tab-pane-->
                </div><!--/tab-content-->

            </div>
        </div>

{% endblock %}