{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Admin{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}

        <div class="profile-container">
            {% for flash in app.flashes('success') %}
                <div class="alert alert-success">{{ flash }}</div>
            {% endfor %}
            {% for flash in app.flashes('error') %}
                <div class="alert alert-danger">{{ flash }}</div>
            {% endfor %}
            <div class="profile-form">
                <div class="col-sm-9">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#linkcheval">Lier un Cheval</a></li>
                        <li><a data-toggle="tab" href="#messages">Facturations</a></li>
                        <li><a data-toggle="tab" href="#settings">Ajouter Client</a></li>


                    </ul>

                    <!-- MENU 1 -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="linkcheval">
                            <div class="container">
                                <div class="row">
                                    <h1 style="color: white">Lier un Cheval a un client</h1>
                                    {{ form_start(form4) }}
                                    {{ form_row(form4.nom) }}
                                    {{ form_row(form4.firstName) }}
                                    <button type="submit" class="btn">Register</button>
                                    {{ form_end(form4) }}
                                    <h1 style="color: white">Ajouter un Cheval</h1>
                                    {{ form_start(form3) }}
                                    {{ form_row(form3.nom) }}
                                    {{ form_row(form3.box) }}
                                    <button type="submit" class="btn">Register</button>
                                    {{ form_end(form3) }}
                                </div>
                            </div>
                        </div>

                        <!-- MENU 2 -->
                        <!-- MENU 3 -->

                        <div class="tab-pane" id="messages">
                            <div class="container">
                                <div class="row">
                                    <div class="bg-light mt-4 p-4">

                                        <h1 style="color: white">Ajouter une Facturation</h1>

                                {{ form_start(form) }}
                                {{ form_row(form.firstName) }}
                                <br>
                                {{ form_row(form.imageFilename) }}
                                <br>
                                <button type="submit" class="btn btn-primary">Upload!</button>
                                {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MENU 4 -->

                        <div class="tab-pane" id="settings">
                            <div class="container">
                                <div class="row">
                                    <div class="bg-light mt-4 p-4">
                                        <h1 style="color: white">Register</h1>

                                        {{ form_start(form2) }}
                                        {{ form_row(form2.firstName) }}
                                        {{ form_row(form2.lastName) }}
                                        {{ form_row(form2.email) }}
                                        <button type="submit" class="btn">Register</button>
                                        {{ form_end(form2) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--/tab-pane-->
                </div><!--/tab-content-->

            </div>
        </div>

{% endblock %}