{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Mon profil{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}


    <div style="justify-content: initial;" class="profile-container">
        <div class="profile-form">
            <div style=" margin-top: 20px">
                {{ render(controller( 'App\\Controller\\AdminController::searchBar' )) }}
            </div>
            {% if users | length == 0 %}
                <h4 style="color: white">Aucun résultat pour votre recherche.</h4>
             {% else %}
                <h3 style="color: white" class="mt-3">Vos résultats de recherche :</h3>
                 <div class="col-md-8">
                     <div style="margin-top: 20px" class="people-nearby">
                         {% for user in users %}

                             <div id="UserModal" class="modal fade">
                                 <div class="vertical-alignment-helper">
                                     <div class="modal-dialog vertical-align-center">
                                         <div class="modal-content">
                                             <div class="modal-header">
                                                 <h1>Fiche du client</h1>
                                             </div>
                                             <div style="margin-bottom: 20px" id="modalBody" class="modal-body">

                                                 <p style="color: #120e01">Prenom : {{ user.firstName }}</p>
                                                 <p  style="color: #120e01"> Nom : {{ user.lastName }}</p>
                                                 <p  style="color: #120e01"> Role : {{ user.roles[0] }}</p>
                                                 <p  style="color: #120e01"> Email : {{ user.email }}</p>
                                                 <p  style="color: #120e01"> Telephone : {{ user.telephone }}</p>
                                                 <p  style="color: #120e01"> Adresse : {{ user.adresse }}</p>

                                             </div>

                                             <div class="modal-footer">
                                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>

                             <div class="nearby-user">
                                 <div class="row">
                                     <div class="col-md-2 col-sm-2">
                                         <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                                     </div>
                                     <div class="col-md-7 col-sm-7">
                                         <h4 style="color: #aec676" class="profile-link">{{ user.lastName }} {{ user.firstName }}</h4>
                                         <p>{{ user.email }}</p>
                                     </div>
                                     <div style="display: flex;flex-direction: column;align-items: center;" class="col-md-3 col-sm-3">
                                         {% if user.roles[0] != "ROLE_PRO" %}
                                         <a style="background-color: #aec676; color: #120e01" class="btn btn-primary pull-right" href="{{ path('app_pro', {'id' : user.id }) }}">Rendre l'Utilisateur PRO</a>
                                         {% else %}
                                             <a style="background-color: #7AA95C; color: #120e01" class="btn btn-primary pull-right" href="#">Compte PRO</a>
                                         {% endif %}
                                         <a style="background-color: #9AC8EB; color: #120e01" data-toggle="modal" data-target="#UserModal" class="btn btn-primary pull-right" href="#">Détails</a>
                                     </div>
                                 </div>
                             </div>
                         {% endfor %}
                     </div>
                 </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
