{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div style="justify-content: initial;" class="profile-container">
    <div class="profile-form">
        <h1 style="color: #aec676"> Messagerie Demande Client</h1>
        <br>
    <div class="container">
        <table class="tg" style="table-layout: fixed; width: 1027px; margin-bottom: 30px">
            <colgroup>
                {% if is_granted('ROLE_ADMIN') %}
                <col style="width: 139px">
                <col style="width: 180px">
                <col style="width: 163px">
                <col style="width: 180px">
                <col style="width: 250px">
                <col style="width: 250px">
                {% else %}
                <col style="width: 139px">
                <col style="width: 426px">
                <col style="width: 163px">
                <col style="width: 299px">
                <col style="width: 250px">
                {% endif %}

            </colgroup>
            <thead>
            <tr>
                <th class="tg-31jn">Id</th>
                <th class="tg-31jn">Sujet</th>
                <th class="tg-31jn">Utilisateur</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="tg-31jn">Professionnel</th>
                {% endif %}
                <th class="tg-31jn">Message</th>
                <th class="tg-31jn">Actions</th>


            </tr>
            </thead>
            <tbody>
            {% for contact in contacts|reverse %}

                <tr>
                    <td class="tg-u7af">{{ contact.id}}</td>
                    <td class="tg-u7af">{{ contact.sujet }}</td>
                    <td class="tg-u7af">{{ contact.idUser.firstName }} {{ contact.idUser.lastName }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td class="tg-u7af">{{ contact.idPro.firstName }} {{ contact.idPro.lastName }}</td>
                    {% endif %}
                    <td class="tg-u7af">{{ contact.message }}</td>
                    <td class="tg-u7af">
                        <a style=" padding: 5px; background-color: #42834b; border-radius: 5px; color: #120e01;font-weight: 400;" class="nav-link white" href="{{ path('app_approve', {'id' : contact.id }) }}">Approuver la demande</a>
                        <a style=" padding: 5px; background-color: #bd3131; border-radius: 5px; color: #120e01;font-weight: 400;" class="nav-link white" href="{{ path('app_deletemsg', {'id' : contact.id }) }}">Supprimer la demande</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock %}
