<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
              {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
{#    <div class="header-container">#}
{#        <hr class="hrbar">#}
{#        <div class="logo">#}
{#            <img id="logoimg" src="{{ asset('images/logo.png')}}" alt="">#}
{#        </div>#}
{#        <ul class="headernav">#}
{#            <li><a class="white" href="/profile">PROFILS</a></li>#}
{#            <li><a class="white" href="/rdv">PRENDRE RENDEZ-VOUS</a></li>#}
{#            <li><a class="white" href="/equipe">CONTACT</a></li>#}
{#            {% if is_granted('ROLE_ADMIN') %}#}
{#                <li>#}
{#                    <a class="nav-link white" href="{{ path('app_admin') }}">Admin</a>#}
{#                </li>#}
{#            {% endif %}#}
{#            <li>#}
{#                <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>#}
{#            </li>#}

{#        </ul>#}
{#        <hr class="hrbar">#}
{#    </div>#}

    <div id="mySidenav" class="sidenav wood" style="display: flex;flex-direction: column;justify-content: space-between;">
        <div>
            <div class="logo" style="margin-left: 50px">
                <img id="logoimg" src="{{ asset('images/logo.png')}}" alt="">
            </div>

            <li><a class="white" href="/profile">Informations</a></li>

            <li><a class="white" href="/rdv">Prendre Rendez-vous</a></li>

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="nav-link white" href="{{ path('app_admin') }}">Pannel Admin</a>
                </li>
            {% endif %}

            <li><a class="white" href="/contact">Contact</a></li>

            <li>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        </div>
        <div>
            <li>
                <a class="dropdown-item" href="{{ path('app_profile') }}" style="margin-bottom: 20%">Parametres</a>
            </li>
        </div>
    </div>

        {% block body %}{% endblock %}
    </body>
</html>
