{% extends 'base.html.twig' %}

{% block title %}Page Rdv{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css"
          integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"
            integrity="sha256-XCdgoNaBjzkUaEJiauEq+85q/xi/2D4NcB3ZHwAapoM=" crossorigin="anonymous"></script>

    <!-- Modal -->

    <div id="calendarModal" class="modal fade">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title">Prendre le rendez-vous</h4>
                    </div>
                    <div id="modalBody" class="modal-body">

                        <h1>{{ user.firstName }}, voulez vous accepter ce rendez-vous ?</h1>

                        <br>
                        <input type="submit" id="button" class="btn btn-primary" value="Accepter ✅">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

    <div id="modelWindow" class="modal fade">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title">Ajout d'un événement</h4>
                    </div>
                <div style="display: flex; justify-content: center; margin: 15px 0">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-container">
            <ul style="margin-top: 20px">
                {% if is_granted('ROLE_ADMIN') %}
                    <li style="margin-left: 15px">
                        <a style="background-color: #efefef; border-radius: 5px; color: #120e01;font-weight: 400;" class="nav-link white" href="{{ path('app_calendar_index') }}">Détails Admin</a>
                    </li>
                    <li style="margin-left: 15px">
                    <a style="background-color: #efefef; border-radius: 5px; color: #120e01;font-weight: 400;" data-toggle="modal" data-target="#modelWindow" class="nav-link white" href="#">Ajouter un Rdv</a>
                    </li>
                {% endif %}

            </ul>

            <div id="calendrier"></div>
    </div>
{% endblock %}


{% block javascripts %}

<script>

    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'Fr',
            timeZone: 'Europe/Paris',
            slotMinTime: "06:00",
            slotMaxTime: "20:00",
            height: "69%",
            headerToolbar: {
                start: 'timeGridWeek dayGridMonth',
                center: 'title',
                end: 'today prev,next'
            },

            events: {{ data | raw }},
            allDaySlot: false,
            eventClick:  function(event, jsEvent, view) {

                {#let url = '{{ path("app_getrdv", {'id': 'rdv_id'}) }}';#}
                {#url = url.replace("rdv_id", (event.event.id);#}
                {#text += '<a class="btn btn-primary" href='+ url +' >Accepter ✅</a>';#}

                {#document.getElementById("returnrdv").innerHTML = text;#}

                // $('#formrdv').submit(event.event.id);
                $('#modalBody').html(event.event.description);
                $('#calendarModal').modal("show");

                document.getElementById('button').onclick = function() {
                    $.ajax({
                        url: "/rdv/get/",
                        type: "POST",
                        data: {"myData": event.event.id}
                    }).done(function (data) {
                        console.log(data);
                    });
                    $('#calendarModal').modal("hide");
                }
                },
        })

        calendar.render()
    }

</script>
{% endblock %}
